<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragrance Database</title>
</head>
<body>
    <h1>Add a Fragrance</h1>
    <form action="/api/v1/fragrances" method="POST">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Brand">
        <input type="text" placeholder="Category">
        <input type="text" placeholder="Type">
        <input type="submit">
    </form>
</body>
</html>